*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

/* nav */

.normal nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 50px;
    padding: 10px;
    z-index: 500;
}

.normal > nav > .elem{
    float: left;
    margin:5px 15px;
    background-color:white;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    font-size: 30px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.7), 0 3px 6px 0 rgba(124, 124, 124, 0.5);
}

/* -----------------------------------nav mk2----------------------- */

.mk2 > nav{
    height: 100vh;
    width: 0;
    background-color: white;
    position: fixed;
    right: 0;
    z-index: 500;
    display: inline-block;
    transition: 0.4s;
}

#head{
    height: 75px ;
    line-height: 75px;
    font-size: 35px;
    text-align: center;
    background-color: white;
    color:black;
}

.mk2 > nav > .elem{
    height: 70px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 0 10px;
    transition: 0.2s;
    display: none;
}

.mk2 > nav > .elem:nth-child(2n-1){
    background-color: lightgray;
}

.mk2 .menu{
    position:absolute;
    height: 100px;
    width: 50px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    left:-50px;
    top: 50%;
    transform: translate(0 , -50%);
    background-color: white;
    text-align: center;
    line-height: 95px;
    font-size: 40px;
}

.mk2 .menu span{
    vertical-align: super;
    text-align: center;
}

.mk2 > nav > .elem > span{
    margin: auto;
    font-size: 18px;
    text-align: center;
}

.mk2 .info{
    width: 100%;
    font-size: 15px;
    line-height: 1.6em;
    display: none;
    font-weight: 300;
    padding: 0 5px;
    text-transform: capitalize;
}

.mk2 nav:hover{
    width: 250px;
    transition: 0.5s;
}

.mk2 nav:hover .elem{
    display: block;
    transition: 0.6s;
}

.mk2 > nav > .elem:hover{
    height: 170px;
    transition: 0.2s;
    color: white;
    background-color: rgba(0, 0, 0, 0.842);
}

.mk2 > nav > .elem:hover .info{
    display: block;
}

/* -----------------------------main------------------------------*/
.container{
    width: 100%;
    height: auto;
}

.box{
    height: 100vh;
    width: 100%;
    position: relative;
}

.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}

.prodotto{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
}

.container .title{
    position: absolute;
    left: 50%;
    top:85%;
    transform: translate(-50% , -50%);
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
}

#shoes1{
    background-color: tomato;
}

#shoes1 .title{
    color:yellow;
}

#shoes2{
    background-color: lightgreen;
}

#shoes2 .title{
    color:red;
}

#shoes3{
    background-color: yellow;
}

#shoes3 .title{
    color:green;
}

/* hover */

.normal a:hover {
    font-size: 45px;
    transition: 0.5s;
}

.container .box:hover .filter{
    display: none;
}